.DS_Store
Thumbs.db

*.log

/bin/
/obj/
/out/

.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

*.vs/
_ReSharper*/
*_ReSharper.Caches

project.lock.json
project.fragment.lock.json
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.lib
*.log
*.vsix
*.nuspec
*.nupkg
*.swp
*.props

*.package
packages/
.vscode/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

TestResults/
*.coverage
*.coveragexml
*.testlog
*.trx

publish/
wwwroot/

*.sourcelink.json
*.AssemblyInfo.cs
*.csproj.FileListAbsolute.txt
*.csproj.nuget.g.targets
*.csproj.dgspec.json
*.AssemblyAttributes.cs

# Общие временные файлы
*.log
*.user
*.lock.json
*.pdb
*.cache
*.ilk
*.lib

bin/
obj/
out/

*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.csproj.nuget.dgspec.json
*.csproj.FileListAbsolute.txt

staticwebassets.build.json
staticwebassets.development.json
staticwebassets.pack.json

TestResults/
*.trx
*.coverage
*.coveragexml

*.msCoverageSourceRootMapping_*
